<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jenkins Execution Suite" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

    <parameter name="browser" value="chrome"/>

    <test name="Jenkins Test">

        <classes>
 
            <class name="jenkins_project.FirstTestClass"/>
            
        </classes>
         </test>
</suite>